@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    outline: 0;
}

html, body{
    height: 100vh;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #1a2e33;
}

header {
    background-color: #1a2e33 ;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

.logo{
    border-radius: 100px;
    height: 500px;
    position: absolute;
    right: 50px;
    top: 20px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #bcb4b8;
    text-transform: uppercase;
    font-size: 20px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgb(86,120,112, 0.15);
}

header .container img{
    height: 30px;
}

main {
    margin-bottom: 100px;
}

main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

h2{
    color: #1a2e33;
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}

h3{
    color: #4f5657;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
}

form{
    margin-top: 20px;
}

form input{
    width: 300px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #7dd5af;
}

form [type="submit"] {
    background-color: #959a9d;
    color: white;
}

form [type="submit"]:hover {
    cursor: pointer;
}

main .container-main img{
    width: 600px;
}

.cards {
    width: 40%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px,1fr));
    grid-gap: 20px;
}

.text--medium {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #4f5657;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #1a2e33;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.image img{
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content {
    margin: 20px;
}

.title{
    margin-bottom: 0px;
}



